.bod-mob{
    display: none;
}
.bod-head{
 display: flex;
 margin: 20px 0 10px 0;
 justify-content: space-between;

 button{
    width: 105px;
    height: 35px;
    box-sizing: border-box;
    border: none;
    background: $grey6;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    font-family: $defaults-fonts;
    color: $purple-shade2;

}

img{
    vertical-align: middle;
}
.btn-more{
    width: 137px;
    color: $grey1;
    background: #fff;
    border: 1px solid $grey2;
}

}

table{
    width: 100%;
    margin-top: 20px;
    border-spacing: 0px;
    border-radius: 8px;
    border: 1px solid $grey5;
    box-sizing: border-box;
    margin-bottom: 3rem;
    th{
        text-align: left;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        height: 2rem;
        padding-left: 10px;
        border-bottom: 1px solid $grey5;
        img{
            vertical-align: middle;
        }
    }
    th:nth-child(2){
        border-top:1px solid $grey5;
    }
   
    tr:nth-child(even) {
        background-color: $grey7;
      }
    h4{
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
    }
    legend{
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        color: $grey3;
    }
    .tdcell{
        display: flex;
        align-items: center;
        height: 72px;
        padding-left: 10px; 
        input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        } 
        .checkmark {
            height: 15px;
            width: 15px;
            border: 1px solid $purple-shade;
            border-radius: 2px;
            margin-right: 5px;
        }
        .check{
            border: 1px solid $grey5;
        }
        input:checked ~ .checkmark:after {
            display: block;
        }
        .checkmark:after {
            content: "";
            position: relative;
            display: none;
          }
        .checkmark:after {
            left: 4px;
            top: 0px;
            width: 3px;
            height: 8px;
            border: solid $purple-shade;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
    }

    .tdimg{
        vertical-align: middle;
    }
    .progress{
        background-color: $grey6;
        width: 5.5rem;
        height: 0.5rem;
        border-radius: 4px;
        .level{
            width: 80%;
            background-color: $purple-shade;
            height: 00.5rem;
            border-radius: 4px;
        }
        .sixty{
            width: 60%;
        }
        .fifty{ 
            width:  50%;
        }
        .forty{
            width: 40%;
        }
        .thrity{
            width: 30%;
        }
        .twenty{
            width: 20%;
        }
    }
    .status{
        width: 4.6rem;
        background-color: $sucessgreen;
        padding: 2px 8px;
        font-size: 0.75rem;
        color: $green;
        text-align: center;
        border-radius: 16px;
    }
    .churn{
        background-color: $grey8;
        color: $grey1;
    }
    .pagin{
        th{
            border-top:1px solid $grey5;
        }
        
       button{
        width: 92px;
        height: 35px;
        box-sizing: border-box;
        border: 1px solid $grey2;
        background: $grey6;
        border-radius: 8px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        font-family: $defaults-fonts;
        color: $grey1; 
        margin-left: 10px;
       }
    
       p{
        font-size: 14px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
        color: $grey1;
       }
    }
    .pen{
        padding-left: 20px;
    }

}

.mob-pag{
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 475px){
    .bod-mob{
        display: flex;
        flex-direction: column;
        button{
            width: 105px;
            height: 35px;
            box-sizing: border-box;
            border: none;
            background: $grey6;
            border-radius: 8px;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            font-family: $defaults-fonts;
            color: $purple-shade2;
        
        }
        input{
            width: 90%;
            margin-bottom: 15px;
        }
        img{
            vertical-align: middle;
        }
        .btn-more{
            width: 100%;
            color: $grey1;
            background: #fff;
            margin-bottom: 10px;
            border: 1px solid $grey2;
        }
    }
    .bod-head{
        display: none;        
    }
    .tab-off{
        display: none;
    }
     .mob-pag{
         display: flex;
         justify-content: space-between;
         border-top: 1px solid $grey5;
         margin: 0 5% 5% 5%;
     }
}