@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


$defaults-fonts: 'Inter', sans-serif;
$purple-shade: #7F56D9;
$purple-shade2: #6941C6;
$grey1: #344054;
$grey2: #D0D5DD;
$grey3: #667085;
$grey4: #101828;
$grey5: #EAECF0;
$grey6: #F9F5FF;
$green: #027A48;
$red: #B42318;


body{
    padding: 0;
    margin: 0;
    font-family: $defaults-fonts;
    font-size: 16px;
}